
@{
    ViewBag.Title = "Oyuncu";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@model List<WebProgramlama.Models.Oyuncu>

<div class="panel panel-gray">
    <div class="panel-heading">
        <div class="col-md-12">
            <h4>Oyuncu</h4>
            <a href="javascript:;" data-toggle="tooltip modal" data-width="4" data-source="/Admin/OyuncuEkle" data-title="Yeni Oyuncu" data-function="CloseModal" class="btn btn-success btn-sm tooltips pull-right" style="margin-top:6px;" title="Yeni Oyuncu"><i class="fa fa-plus">&nbsp;&nbsp; Yeni Oyuncu</i></a>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-1">Ad</th>
                            <th class="col-md-1">Soyad</th>
                            <th class="col-md-1">Doğum Tarihi</th>
                            <th class="col-md-1">Ölüm Tarihi</th>
                            <th class="col-md-1">Uyruk</th>
                            <th class="col-md-12">Biyografi</th>
                            <th class="col-md-1">Fotoğraf</th>                            
                            <th class="col-md-1">Facebook</th>
                            <th class="col-md-1">Twitter</th>
                            <th class="col-md-1"></th>
                            <th class="col-md-1"></th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>@item.Ad</td>
                            <td>@item.Soyad</td>
                            <td>@String.Format("{0:d}", @item.DogumTarihi)</td>
                            <td>@String.Format("{0:d}", @item.OlumTarihi)</td>
                            <td>@item.Uyruk.Ad</td>
                            <td>@item.Biyografi</td>
                            @if (item.Fotograf == null)
                            {
                                <td><img style='width:100%; height:auto; border:solid 1px #cccccc;' src="~/assets/img/resimyok.png" alt="" /></td>
                            }
                            else
                            {
                                <td>
                                    <img style='width:100%; height:auto; border:solid 1px #cccccc;' src="data:image/png;base64,@System.Convert.ToBase64String(item.Fotograf)" />
                                </td>
                            }
                            <td>@item.Facebook</td>
                            <td>@item.Twitter</td>
                            <td><a href='javascript:;' data-toggle='tooltip modal' data-source="/Admin/OyuncuDuzenle?OyuncuID=@item.OyuncuID" data-title='Oyuncu Düzenle' data-function='CloseModal' data-width='4' class='btn btn-xs btn-info tooltips' title='Düzenle'>Düzenle</a></td>
                            <td><a href="/Admin/OyuncuSil?OyuncuID=@item.OyuncuID" class='btn btn-xs btn-danger tooltips' title='Sil'>Sil</a></td>
                        </tr>
                    }
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>




